In [1]:
import sys
import os
sys.path.append('/home/work/library')
import spyder
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, text
import numpy as np

In [2]:
TABLE_NAME = "irbank"

In [3]:
conn = mysql.connector.connect(
        host='mysql_db',
        port='3306',
        user='toru',
        password='toru',
        database='mysql_db'
    )

# コネクションが切れた時に再接続してくれるよう設定
conn.ping(reconnect=True)
print(f"接続判定結果:{conn.is_connected()}")
cursor = conn.cursor()
engine = create_engine('mysql+mysqlconnector://toru:toru@mysql_db:3306/mysql_db')

接続判定結果:True

In [4]:
df = pd.read_sql_table(TABLE_NAME, engine)

In [5]:
df

,id,コード,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA,year,...,総還元性向,純資産配当率,総資産,純資産,株主資本,利益剰余金,短期借入金,長期借入金,BPS,自己資本比率
0,1,1301.0,2.183500e+11,2.460000e+09,2.107000e+09,2.433000e+09,231.65,10.74,2.74,2015.0,...,21.58,2.5,8.893700e+10,2.306900e+10,2.220200e+10,1.653700e+10,2.152000e+10,1.183400e+10,2156.42,25.5
1,2,1332.0,6.384350e+11,1.811000e+10,2.139200e+10,1.055800e+10,38.22,11.71,2.29,2015.0,...,7.86,1.0,4.618890e+11,1.091110e+11,6.953600e+10,3.230900e+10,1.399410e+11,1.143990e+11,326.37,19.5
2,3,1333.0,8.637840e+11,8.686000e+09,1.183400e+10,7.219000e+09,145.50,8.12,1.44,2015.0,...,22.63,1.9,5.020160e+11,1.091770e+11,7.856700e+10,1.797100e+10,1.764440e+11,1.131450e+11,1688.57,17.7
3,4,1352.0,6.739100e+10,2.360000e+08,2.830000e+08,-2.950000e+08,-35.23,NaN,NaN,2015.0,...,NaN,3.4,2.431300e+10,5.226000e+09,4.831000e+09,1.127000e+09,2.100000e+09,4.577000e+09,584.89,20.1
4,5,1376.0,5.878170e+10,2.143420e+09,2.274190e+09,1.366860e+09,116.39,8.85,3.10,2015.0,...,20.77,2.0,4.408810e+10,1.544320e+10,1.489990e+10,1.166330e+10,1.235000e+09,NaN,1315.16,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44668,44669,6617.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,NaN,NaN,NaN,2.008600e+10,2.002800e+10,1.221400e+10,NaN,NaN,NaN,NaN
44669,44670,7161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,NaN,NaN,NaN,5.237500e+10,4.828600e+10,7.602000e+09,NaN,NaN,NaN,NaN
44670,44671,7162.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,NaN,NaN,NaN,3.880040e+09,3.868460e+09,1.139920e+09,NaN,NaN,NaN,NaN
44671,44672,3726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44672,44673,9417.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN